<div class="main-title">{{viewOptions.title}}</div>
<div class="container-form">
  <mat-accordion >

    <!-- Edit/View Panel -->
    <mat-expansion-panel 
      [expanded]="viewOptions.propertiesPanelOpenState"
      (opened)="viewOptions.propertiesPanelOpenState = true"
      (closed)="viewOptions.propertiesPanelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title translate>Properties</mat-panel-title>
      </mat-expansion-panel-header>
      <form 
        [formGroup]="formGroupWorkpack" 
        (ngSubmit)="onSubmit()"
        class="form-container"
        fxLayout
        fxLayout.xs="column"
        fxLayoutAlign="left"
        fxLayoutGap="10px"
        fxLayoutGap.xs="0">
        <mat-form-field>
          <input matInput
            type="text"      
            formControlName="name"
            requiered
            placeholder={{translate.name|translate}}/>
        </mat-form-field>
        <mat-error *ngIf="formGroupWorkpack.controls['name'].invalid && formGroupWorkpack.controls['name'].touched">
          <span translate>Name is </span> <strong translate>required</strong>
        </mat-error>
        <div *ngFor="let property of formGroupWorkpack.controls.properties.controls; let i=index;">
          <mat-form-field *ngIf="property.value.profile.type == 'Text'"
            [formGroup]="property" >
            <input matInput
              type="text"      
              formControlName="value"
              placeholder="{{property.value.name}}"/>
          </mat-form-field>
          <mat-form-field *ngIf="property.value.profile.type == 'Number'"
            [formGroup]="property">
            <input matInput
              type="number"      
              formControlName="value"
              placeholder="{{property.value.name}}"/>
          </mat-form-field>
          <mat-form-field *ngIf="property.value.profile.type == 'Date'"
            [formGroup]="property">
            <input matInput 
              [matDatepicker]="picker" 
              placeholder="{{property.value.name}}"
              formControlName="value">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field> 
          <mat-form-field *ngIf="property.value.profile.type == 'Selection'"
          [formGroup]="property">
            <mat-select 
              placeholder="{{property.value.name}}"
              formControlName="value">
              <mat-option 
                *ngFor="let pValue of property.value.profile.possibleValues" 
                [value]="pValue">
                {{pValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>        
        </div>

        <!-- SAVE BUTTON -->
        <div class="footer-button"
            [style.bottom]="SaveButtonBottomPosition">
          <div class="example-button-row">
            <button 
              class="save-button" mat-button><span translate>Save</span></button>
          </div>
        </div>        

      </form>
    </mat-expansion-panel>

    <!-- Workpacks Panel -->
    <mat-expansion-panel
      *ngIf="viewOptions.action == 'edit'"
      [expanded]="viewOptions.workpacksPanelOpenState"
      (opened)="viewOptions.workpacksPanelOpenState = true"
      (closed)="viewOptions.workpacksPanelOpenState = false">
      
      <!-- Header -->
      <mat-expansion-panel-header>
        <mat-panel-title translate>Workpacks</mat-panel-title>
      </mat-expansion-panel-header>

      <!-- Body -->
      <div class="container-fluid cards">
        <div class="row">

          <mat-card class="card card-style" *ngFor="let component of workpack.components">
              <div class="card-image">
                <mat-icon fontSet="fas" fontIcon="fa-cube"></mat-icon>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a  class="dropdown-item"
                      (click)="DeleteWorkpack(component.id)"
                      routerLink="/workpack/edit/{{workpack.id}}&{{workpack.template.id}}" 
                      routerLinkActive="active" translate>Delete</a>
                </div>
              </div>
              <div class="card-setting" id="dropdownMenuButton" data-toggle="dropdown">
                <mat-icon fontSet="fa" fontIcon="fa-bars"></mat-icon>
              </div>
              <mat-card-title class="title-card">
                <a routerLink="/workpack/edit/{{component.id}}&{{component.template?.id}}" routerLinkActive="active">{{component.name}}</a>
              </mat-card-title>
              <div class="card-manager">
                <mat-icon fontSet="fa" fontIcon="fa-user-circle"></mat-icon>
              </div>
            </mat-card>

          <mat-card class="card new-card card-style">
              <div class="card-image-new dropleft" id="dropdownMenuButton" data-toggle="dropdown">
                  <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a *ngFor="let template of workpackTemplate.components" 
                        class="dropdown-item" 
                        routerLink="/workpack/new2workpack/{{workpack.id}}&{{template.id}}" 
                        routerLinkActive="active">{{template.name}}</a>
                  </div>
              </div>
            </mat-card>
          </div>
      </div>
  
    </mat-expansion-panel>

  </mat-accordion>
    

</div>