<div class="main-title">{{viewOptions.title}}</div>
<div class="container-form">
  <mat-accordion >

    <!-- Edit/View Panel -->
    <mat-expansion-panel 
      [expanded]="viewOptions.propertiesPanelOpenState"
      (opened)="viewOptions.propertiesPanelOpenState = true"
      (closed)="viewOptions.propertiesPanelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title translate>Properties</mat-panel-title>
      </mat-expansion-panel-header>
      <form
        [formGroup]="formGroupWorkpack" 
        (ngSubmit)="onSubmit()"
        class="form-container property-container row"
        fxLayout
        fxLayout.xs="column"
        fxLayoutAlign="left"
        fxLayoutGap="10px"
        fxLayoutGap.xs="0">

          <!-- Name -->
          <mat-form-field>
            <input matInput
              type="text"      
              formControlName="name"
              [required]="true"
              placeholder={{translate.name|translate}}/>
          </mat-form-field>
          <mat-error *ngIf="formGroupWorkpack.controls['name'].invalid && formGroupWorkpack.controls['name'].touched">
            <span translate>Name must be from 3 to 20 characteres long</span>
          </mat-error>

          <div *ngFor="let property of formGroupWorkpack['controls'].properties['controls']; let i=index;"
            [class]="(property.value.profile.fullLine) ? 'full-width' : ''">
            <div *ngIf="property.value.profile.using"
              [class]="(property.value.profile.fullLine) ? 'property-card-box full-width' : 'property-card-box'" >
              
              <!-- Text type -->
              <mat-form-field *ngIf="property.value.profile.type == 'Text'"
                [class]="(property.value.profile.fullLine) ? 'full-width' : ''"
                [formGroup]="property" >
                <input matInput
                  [required]="'property.value.profile.required'"
                  type="text"      
                  formControlName="value"
                  placeholder="{{property.value.profile.label}}"/>
              </mat-form-field>
              
              <!-- Textarea type -->
              <mat-form-field *ngIf="property.value.profile.type == 'Text area'"
                [class]="(property.value.profile.fullLine) ? 'full-width' : ''"
                [formGroup]="property">
                <textarea matInput
                  [required]="'property.value.profile.required'"
                  rows="{{property.value.profile.rows}}"
                  formControlName="value"
                  placeholder="{{property.value.profile.label}}"></textarea>
              </mat-form-field>
              
              <!-- Number type -->
              <mat-form-field *ngIf="property.value.profile.type == 'Number'"
                [class]="(property.value.profile.fullLine) ? 'full-width' : ''"
                [formGroup]="property">
                <input matInput
                  [required]="'property.value.profile.required'"
                  type="number"      
                  formControlName="value"
                  placeholder="{{property.value.profile.label}}"/>
              </mat-form-field>

              <!-- Currency type -->
              <mat-form-field *ngIf="property.value.profile.type == 'Currency'"
                [class]="(property.value.profile.fullLine) ? 'full-width' : ''"
                [formGroup]="property">
                <input matInput
                  [required]="'property.value.profile.required'"
                  type="number" 
                  step="any"
                  formControlName="value"
                  [value]="ConvertToNumber(property.value.value)" 
                  placeholder="{{property.value.profile.label}}"/>
              </mat-form-field>

              <!-- Date type -->
              <mat-form-field *ngIf="property.value.profile.type == 'Date'"
                [class]="(property.value.profile.fullLine) ? 'full-width' : ''"
                [formGroup]="property">
                <input matInput 
                  [required]="'property.value.profile.required'"  
                  [matDatepicker]="picker" 
                  placeholder="{{property.value.profile.label}}"
                  formControlName="value">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field> 

              <!-- Selection type -->
              <mat-form-field *ngIf="property.value.profile.type == 'Selection'"
                [class]="(property.value.profile.fullLine) ? 'full-width' : ''"
                [formGroup]="property">
                <mat-select 
                  placeholder="{{property.value.profile.label}}"
                  formControlName="value"
                  [required]="'property.value.profile.required'">
                  <mat-option 
                    *ngFor="let pValue of property.value.profile.possibleValues" 
                    [value]="pValue">
                    {{pValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <!-- Error message -->
              <mat-error *ngIf="property.invalid && property.touched">
                <span>{{property.value.profile.label}}</span><strong translate> is required</strong>
              </mat-error>

            </div>
          </div>

          <!-- SAVE BUTTON -->
          <div class="footer-button"
              [style.bottom]="SaveButtonBottomPosition">
            <div class="example-button-row">
              <button 
                class="save-button" mat-button><span translate>Save</span></button>
            </div>
          </div>        

      </form>
      <div class="id-container-properties">
        <span>ID: {{workpack.id}}</span>
      </div>      

    </mat-expansion-panel>

    <!-- Stakeholders Panel -->
    <mat-expansion-panel
      *ngIf="(viewOptions.action == 'edit')"
      [expanded]="viewOptions.stakeholdersPanelOpenState"
      (opened)="viewOptions.stakeholdersPanelOpenState = true"
      (closed)="viewOptions.stakeholdersPanelOpenState = false">
      
      <!-- Header -->
      <mat-expansion-panel-header>
        <mat-panel-title translate>Stakeholders</mat-panel-title>
      </mat-expansion-panel-header>

      <!-- Body -->
      <div class="container-fluid cards">
        <div class="row">

          <mat-card class="card card-style" *ngFor="let role of wpRoles">
              <div class="card-image">
                <mat-icon fontSet="fas" fontIcon="fa-user"></mat-icon>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a  class="dropdown-item"
                      (click)="DeleteRole(role.id)"
                      routerLink="/workpack/edit/{{workpack.id}}&{{workpack.model.id}}" 
                      routerLinkActive="active" translate>Disconnect</a>
                </div>
              </div>
              <div class="card-setting" id="dropdownMenuButton" data-toggle="dropdown">
                <mat-icon fontSet="fa" fontIcon="fa-bars"></mat-icon>
              </div>
              <mat-card-title class="subtitle-card">
                {{role.name}}
              </mat-card-title>
              <mat-card-title class="title-card">
                <!--a routerLink="/workpack/edit/{{component.id}}&{{component.model?.id}}" routerLinkActive="active"-->{{role.actor?.name}}<!--/a-->
              </mat-card-title>
              <div class="card-manager">
                <mat-icon fontSet="fa" fontIcon="fa-user-circle"></mat-icon>
              </div>
              <div class="id-container-properties">
                <span>ID: {{role.id}}</span>
              </div>                    
            </mat-card>

          <mat-card class="card new-card card-style">
              <div class="card-image-new dropleft" id="dropdownMenuButton" data-toggle="dropdown">
                  <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a *ngFor="let key of ActorTypeKeys()" 
                        class="dropdown-item"
                        routerLink="/workpack/{{workpack.id}}/{{key}}role/new" 
                        routerLinkActive="active">{{actorTypes[key]}}</a>
                  </div>
              </div>
            </mat-card>
          </div>
      </div>
  
    </mat-expansion-panel>



    <!-- Workpacks Panel -->
    <mat-expansion-panel
      *ngIf="(viewOptions.action == 'edit') && (workpackModel.components.length > 0)"
      [expanded]="viewOptions.workpacksPanelOpenState"
      (opened)="viewOptions.workpacksPanelOpenState = true"
      (closed)="viewOptions.workpacksPanelOpenState = false">
      
      <!-- Header -->
      <mat-expansion-panel-header>
        <mat-panel-title translate>Workpacks</mat-panel-title>
      </mat-expansion-panel-header>

      <!-- Body -->
      <div class="container-fluid cards">
        <div class="row">

          <mat-card class="card card-style" *ngFor="let component of workpack.components">
              <div class="card-image">
                <mat-icon fontSet="fas" fontIcon="fa-cube"></mat-icon>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a  class="dropdown-item"
                      (click)="DeleteWorkpack(component.id)"
                      routerLink="/workpack/edit/{{workpack.id}}&{{workpack.model.id}}" 
                      routerLinkActive="active" translate>Delete</a>
                </div>
              </div>
              <div class="card-setting" id="dropdownMenuButton" data-toggle="dropdown">
                <mat-icon fontSet="fa" fontIcon="fa-bars"></mat-icon>
              </div>
              <mat-card-title class="subtitle-card">
                {{component.model.name}}
              </mat-card-title>
              <mat-card-title class="title-card">
                <a routerLink="/workpack/edit/{{component.id}}&{{component.model?.id}}" routerLinkActive="active">{{component.name}}</a>
              </mat-card-title>
              <div class="card-manager">
                <mat-icon fontSet="fa" fontIcon="fa-user-circle"></mat-icon>
              </div>
              <div class="id-container-properties">
                <span>ID: {{component.id}}</span>
              </div>                    
            </mat-card>

          <mat-card class="card new-card card-style">
              <div class="card-image-new dropleft" id="dropdownMenuButton" data-toggle="dropdown">
                  <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a *ngFor="let model of workpackModel.components" 
                        class="dropdown-item" 
                        routerLink="/workpack/new2workpack/{{workpack.id}}&{{model.id}}" 
                        routerLinkActive="active">{{model.name}}</a>
                  </div>
              </div>
            </mat-card>
          </div>
      </div>
  
    </mat-expansion-panel>

  </mat-accordion>
    

</div>