<div class="schema-edit" *ngIf="(showForm)">
    <label for="schemaForm">{{title}}</label>
    <form name="schemaForm" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group">
            <label for="schemaname">Name</label>
            <input type="text" class="form-control" 
                name="schemaname"
                #schemaName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && schemaName.invalid }"
                required
                type="text" size="30" 
                [ngModel]="schema.name | trim"
                (ngModelChange)="SetTrimmedNameAndShortName($event)" /> 
            <div *ngIf="f.submitted && schemaName.invalid" class="invalid-feedback">
                <div *ngIf="schemaName.errors.required">Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="schemashortname">Short Name</label>
            <input  id="schemashortname" class="form-control" 
                    name="schemashortname"
                    #schemashortname="ngModel" 
                    [ngClass]="{ 'is-invalid': f.submitted && schemashortname.invalid }"
                    required 
                    pattern="[a-z0-9_]*"
                    type="text" 
                    size="30" 
                    [(ngModel)]="schema.shortName"/> 
            <div *ngIf="f.submitted && schemashortname.invalid" class="invalid-feedback">
                <div *ngIf="schemashortname.errors.required">Name is required</div>
                <div *ngIf="schemashortname.errors.pattern">The short name can have only lowercase letters, digits and underscore (_)</div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Save</button>
        </div>
    </form>
  </div>


<!-- schema-list.html -->
<div *ngIf="((action == 'children') || (action == 'detail'))">
  <div class="main-title">
    <a routerLink="/office/children/{{office.id}}" routerLinkActive="active">{{schema.name}}</a>
  </div>
  
  <div class="container-fluid cards">
    <div class="row">
      <div class="card card-style" *ngFor="let workpack of schema.workpacks">
        <div class="card-body">
          <div class="card-image">
              <i class="fa fa-cubes" aria-hidden="true"></i>
          </div>
          <div class="card-title">
            <a routerLink="/workpack/children/{{workpack.id}}" routerLinkActive="active">{{workpack.name}}</a>
          </div>
          <div class="card-setting">
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
          </div>
          <div class="card-manager">
            <!--i class="fa fa-user-circle" aria-hidden="true" [pTooltip]="env.managerName" tooltipPosition="top"></i-->
            <i class="fa fa-user-circle" aria-hidden="true" pTooltip="managerName" tooltipPosition="top"></i>
          </div>
          <div class="edit-view">
            <a routerLink="/workpack/edit/{{workpack.id}}" routerLinkActive="active">More...</a>
          </div>
          <div class="edit-view">
            <a (click)="deleteWorkpack(workpack.id)">Delete me...</a>
          </div>
        </div>
      </div>
      <div class="card new-card" routerLink="/workpack/new/{{schema.id}}" routerLinkActive="active">
        <div class="card-body">
          <div class="card-image-new">
              <i class="fa fa-plus" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
    <a routerLink="/workpack/new2schema/{{schema.id}}" routerLinkActive="active">New...</a>
  </div>
</div>