<div class="notification" [style.right]="MessageRightPosition">
    <span translate>Saved successfully</span>
</div>

<div class="main-title">{{viewOptions.title|translate}}</div>
<div class="container-form">
  <mat-accordion >

    <!-- Edit/View Panel -->
    <mat-expansion-panel 
      class="property-panel"
      [expanded]="viewOptions.propertiesPanelOpenState"
      (opened)="viewOptions.propertiesPanelOpenState = true"
      (closed)="ClosePropertiesPanel()">
      <mat-expansion-panel-header>
        <mat-panel-title translate>Properties</mat-panel-title>
      </mat-expansion-panel-header>
      <form 
        [formGroup]="formGroupWorkpackModel" 
        (ngSubmit)="onSubmit()"
        class="form-container">
        <mat-form-field>
          <input matInput
            type="text"
            md-maxlength=20    
            formControlName="name"
            placeholder={{localeConfig.name}}/>
        </mat-form-field>
        <mat-error *ngIf="formGroupWorkpackModel.controls['name'].invalid && formGroupWorkpackModel.controls['name'].touched">
          <span translate>Name must be from 3 to 20 characteres long</span> 
        </mat-error>
        <!-- <div class="container-fluid cards" formArrayName="properties">
          <div class="row property-row">
            <div>
              
              // Properties 
              <app-wpt-properties 
              [class]="(property.get('editing').value) ? 'property-card-box property-full-width' : 'property-card-box'"
              *ngFor="let property of formGroupWorkpackTemplate.controls.properties.controls; let i=index;">
              </app-wpt-properties> -->

        <div class="containerX" formArrayName="propertyProfiles">
          <div class="box" fxflex fxlayout="row">
            <div [class]="(pProfile.value.editing) ? 'property-profile-card-box property-full-width' : 'property-profile-card-box'"    
              *ngFor="let pProfile of formGroupWorkpackModel['controls'].propertyProfiles['controls']; let i=index;">
              <mat-expansion-panel  fxflex
                [formGroup]="pProfile"
                class="property-card"
                [expanded]="pProfile.value.editing"
                (opened)="EditProperty(i, pProfile.value.type)"
                (closed)="StopEditing(i)"
                *ngIf="!pProfile.toDelete">
                <mat-expansion-panel-header class="property-header">
                  <mat-panel-title class="property-name">
                    <div class="property-logo-mat-icon" 
                        *ngIf="GetPropertyLogo(pProfile.value.type).source == 'mat-icon'">
                        <mat-icon 
                          fontSet="{{GetPropertyLogo(pProfile.value.type).set}}" 
                          fontIcon="{{GetPropertyLogo(pProfile.value.type).icon}}"></mat-icon>
                    </div>
                    <div class="property-logo-font" 
                        *ngIf="GetPropertyLogo(pProfile.value.type).source == 'font'">
                      {{GetPropertyLogo(pProfile.value.type).icon}}
                    </div>
                    <div class="property-title">
                      {{pProfile.value.name | translate}}
                    </div>
                    <div class="property-type-title" *ngIf="pProfile.value.editing">
                      ({{pProfile.value.type | translate}})
                    </div>
                    <mat-slide-toggle
                      (click)="$event.stopPropagation()"
                      [color]="color"
                      class="toggle-property"
                      formControlName="using"></mat-slide-toggle>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="card-content"
                      fxLayout="{{(pProfile.value.editing) ? 'row wrap' : 'column wrap'}}"
                      fxLayoutAlign="left"
                      fxLayoutGap="20px">

                  <!--Name-->
                  <div>
                    <mat-form-field>
                      <input matInput
                        type="text"
                        placeholder={{localeConfig.name}}{{valor}}
                        formControlName="name"/>
                    </mat-form-field>
                  </div>

                  <!-- Label -->
                  <div >
                    <mat-form-field >
                      <input matInput
                        type="text"
                        placeholder={{localeConfig.label}}
                        formControlName="label"/>
                    </mat-form-field>
                  </div>

                  <!-- Sort index -->
                  <div >
                    <mat-form-field class="number-field">
                      <input matInput
                        type="number"
                        placeholder={{localeConfig.sortIndex}}
                        formControlName="sortIndex"/>
                    </mat-form-field>
                  </div>

                  <!-- Minimum -->
                  <div *ngIf="pProfile.value.type == 'Number' || pProfile.value.type == 'Text'">
                    <mat-form-field class="number-field">
                      <input matInput
                        type="number"
                        placeholder={{localeConfig.minimum}}
                        formControlName="min"/>
                    </mat-form-field>
                  </div>

                  <!-- Maximum-->
                  <div *ngIf="pProfile.value.type == 'Number' || pProfile.value.type == 'Text'">
                    <mat-form-field class="number-field">
                      <input matInput
                        type="number" 
                        placeholder={{localeConfig.maximum}}
                        formControlName="max"/>
                    </mat-form-field>
                  </div>

                  <!-- Possible values -->
                  <div 
                    class="{{(pProfile.value.editing) ? 'textInput' : 'minimum-width'}}"
                    *ngIf="pProfile.value.type == 'Selection'">
                    <mat-form-field 
                      class="form-field">
                      <input matInput
                        type="text"
                        placeholder={{localeConfig.possiblevalues}}
                        formControlName="possibleValues"/>
                      <mat-hint translate>Use comma to separate the values. Empty means any.</mat-hint>
                    </mat-form-field>
                  </div>

                  <!-- Value -->
                  <div *ngIf="pProfile.value.type != 'Currency'">
                    <mat-form-field >
                      <input matInput
                        type="text"
                        placeholder={{localeConfig.defaultValue}}
                        formControlName="value"/>
                    </mat-form-field>
                  </div>

                  <!-- Currency value -->
                  <div *ngIf="pProfile.value.type == 'Currency'">
                  <mat-form-field >
                    <input matInput
                      type="text"
                      placeholder={{localeConfig.defaultValue}}
                      formControlName="value"
                      input currencyMask [options]="localeConfig.currencyMask"/>
                  </mat-form-field>
                </div>

                  <!-- Rows -->
                  <div *ngIf="pProfile.value.type == 'Text area'">
                    <mat-form-field class="number-field">
                      <input matInput
                        type="number" step="any"
                        placeholder={{localeConfig.rows}}
                        formControlName="rows"/>
                    </mat-form-field>
                  </div>

                  <!-- Full Line -->
                  <div class="profile-checkbox">
                    <mat-checkbox
                      color="primary"
                      formControlName="fullLine">
                      <span translate>Full line</span>
                    </mat-checkbox>
                  </div>

                  <!-- Required -->
                  <div class="profile-checkbox">
                    <mat-checkbox
                      color="primary"
                      formControlName="required">
                      <span translate>Required</span>
                    </mat-checkbox>
                  </div>

                  <!-- Delete button -->
                  <div class="delete-button">
                    <button mat-button>
                      <mat-icon fontSet="fas" fontIcon="fa-trash"></mat-icon>                    
                    </button>
                  </div>

                </div>
              </mat-expansion-panel>
            </div>

          </div>
        </div>

        <!-- ADD PROPERTY BUTTON -->
        <button mat-raised-button 
                class="add-property-button dropleft card-setting" 
                id="dropdownAddPropertyButton" 
                data-toggle="dropdown">
          <span translate>Add Property</span>
          <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
          <div class="dropdown-menu" aria-labelledby="dropdownAddPropertyButton">
            <a *ngFor="let pType of propertyTypes"
                class="dropdown-item"
                (click)="AddPropertyProfile(pType)"
                [innerHTML]="pType"
                translate></a>
          </div>
        </button>
        
        <!-- SAVE BUTTON -->
        <div class="footer-button"
            [style.bottom]="SaveButtonBottomPosition">
          <div class="example-button-row">
            <button class="save-button" mat-button>
                <span translate>Save</span>
            </button>
          </div>
        </div>   

      </form>
    </mat-expansion-panel>

    <!-- Workpack Models Panel -->
    <mat-expansion-panel
      *ngIf="viewOptions.action == 'edit'"
      [expanded]="viewOptions.workpacksPanelOpenState"
      (opened)="viewOptions.workpacksPanelOpenState = true"
      (closed)="viewOptions.workpacksPanelOpenState = false">
      
      <!-- Header -->
      <mat-expansion-panel-header>
        <mat-panel-title translate>Workpack Models</mat-panel-title>
      </mat-expansion-panel-header>

        <!-- Body -->
        <div class="container-fluid cards">
          <div class="row">

            <mat-card class="card card-style" *ngFor="let component of workpackModel.components">
                <div class="card-image">
                  <mat-icon fontSet="fas" fontIcon="fa-cube"></mat-icon>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" 
                    (click)="DeleteWorkpackModel(component.id)"
                    routerLink="/workpackmodel/edit/{{workpackModel.id}}" translate>Delete</a>
                  </div>
                </div>
                <div class="card-setting" id="dropdownMenuButton" data-toggle="dropdown">
                  <mat-icon fontSet="fa" fontIcon="fa-bars"></mat-icon>
                </div>
                <mat-card-title class="title-card">
                  <a routerLink="/workpackmodel/edit/{{component.id}}" routerLinkActive="active">{{component.name}}</a>
                </mat-card-title>
              </mat-card>

            <mat-card class="card new-card card-style">
              <div class="card-image-new dropleft" id="dropdownMenuButton" data-toggle="dropdown">
                <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a  class="dropdown-item" 
                  routerLink="/workpackmodel/new2workpackmodel/{{workpackModel.id}}" 
                  routerLinkActive="active" translate>New</a>
                  <div class="dropdown-item not-a-link disabled" translate>Reuse:</div>
                  <a *ngFor="let model of flatTree"
                  class="dropdown-item"
                  (click)="ReuseModel(model.id)"
                  [innerHTML]="model.label"></a>
                </div>
              </div>
            </mat-card>
          </div>
        </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>