.example-tree-invisible {
    display: none;
}

.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.node-label {
    margin-top: 2px;
    cursor: pointer;
}

.mat-icon-button {
    height: 30px;
    width: 30px;
    line-height: 30px;
}

.mat-icon-button .mat-icon, .mat-icon-button i {
    line-height: 14px;
    margin-left: 3px;
}

.mat-tree-node{
    min-height: 0!important;
}

