<div class="notification" [style.right]="MessageRightPosition">
  <span translate>Saved successfully</span>
</div>
<div class="main-title" translate>{{(action == 'new') ? 'New office' : office.name}}</div>
<div class="panel-container">

  <mat-accordion >
    <!-- Properties Panel -->
    <mat-expansion-panel 
      [expanded]="propertiesPanelOpenState"
      (opened)="propertiesPanelOpenState = true"
      (closed)="propertiesPanelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title translate>Properties</mat-panel-title>
      </mat-expansion-panel-header>
      <form 
        [formGroup]="formGroupOffice"
        (ngSubmit)="onSubmit()" 
        class="form-container"> 
        <mat-form-field>
          <input matInput
            type="text"      
            formControlName="name"
            placeholder={{translate.name|translate:use}}
            required/> 
        </mat-form-field>
      <mat-error *ngIf="formGroupOffice.controls['name'].invalid && formGroupOffice.controls['name'].touched">
        <span translate>Name is</span> <strong translate>required</strong>
      </mat-error>
        <mat-form-field>
          <input matInput 
            type="text" 
            formControlName="shortName"
            placeholder={{translate.shortname|translate:use}}
            required/>
        </mat-form-field>
        <mat-error *ngIf="formGroupOffice.controls['shortName'].invalid && formGroupOffice.controls['shortName'].touched">
            <span translate>Name is</span> <strong translate>required</strong>
        </mat-error>

        <!-- SAVE BUTTON -->
        <div class="footer-button"
            [style.bottom]="SaveButtonBottomPosition">
          <div class="example-button-row">
            <button class="save-button" mat-button>
                <span translate>Save</span>
            </button>
          </div>
        </div>        



      </form>
    </mat-expansion-panel>
    
    <!-- Planning Schemas Panel -->
    <mat-expansion-panel
      *ngIf="action != 'new'"
      [expanded]="schemasPanelOpenState"
      (opened)="schemasPanelOpenState = true"
      (closed)="schemasPanelOpenState = false">
      
      <!-- Header -->
      <mat-expansion-panel-header>
        <mat-panel-title translate>Planning</mat-panel-title>
      </mat-expansion-panel-header>
      
        <!-- Body -->
        <div class="container-fluid cards">
          <div class="row">
            <mat-card class="card card-style" *ngFor="let schema of office.schemas">
              <div class="card-setting" id="dropdownMenuButton" data-toggle="dropdown">
                <mat-icon fontSet="fa" fontIcon="fa-bars"></mat-icon>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" (click)="DeleteSchema(schema.id)" translate>Delete</a>
                </div>
              </div>
              <mat-card-title class="title-card">
                <a  routerLink="/schema/edit/{{schema.id}}&{{schema.template?.id}}" 
                routerLinkActive="active">{{schema.name}}</a>
              </mat-card-title>
              <mat-card-content class="img-card">
                <mat-icon fontSet="fas" fontIcon="fa-project-diagram"></mat-icon>   
              </mat-card-content>
            </mat-card>

            <mat-card class="card card-style new-card">
              <div *ngIf="office.schemaTemplates.length > 0">
                <div class="card-image-new dropleft" id="dropdownMenuButton" data-toggle="dropdown">
                  <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a *ngFor="let template of office.schemaTemplates" 
                    class="dropdown-item" 
                    routerLink="/schema/new/{{office.id}}&{{template.id}}" 
                    routerLinkActive="active">{{template.name}}</a>
                  </div>
                </div>
              </div>
            </mat-card>
          </div>
        </div>

    </mat-expansion-panel>
  
  </mat-accordion>
</div>

