<!-- office-list.html -->
<div class="page-container">
  <div class="container-fluid cards">
    <div class="row">
      <!-- CARD OFFICE -->
      <mat-card class="card card-style" *ngFor="let office of offices">
        
        <div class="setting-container">
        <span class="card-setting" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon fontSet="fa" fontIcon="fa-bars"></mat-icon>
        </span>
        </div>
      

        <mat-menu #menu="matMenu" [overlapTrigger]="false">
          
          <button mat-menu-item>
            <span (click)="deleteOffice(office.id)" translate>Delete</span>
          </button>

          <button mat-menu-item>
            <span routerLink="/officeadmin/edit/{{office.id}}" routerLinkActive="active" href="#" translate>Admin</span>
          </button>

        </mat-menu>

        <mat-card-title class="title-card">
          <a routerLink="/office/edit/{{office.id}}" routerLinkActive="active">{{office.name}}</a>
        </mat-card-title>
        
        <mat-card-content class="img-card">
          <mat-icon fontSet="fas" fontIcon="fa-building"></mat-icon>   
        </mat-card-content>
        
        <div class="id-container-card">
          <span>ID: 005</span>
        </div>
      </mat-card>

      <mat-card class="card new-card card-style" routerLink="/office/new/new" routerLinkActive="active">
        <div class="card-image-new">
          <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
        </div>
      </mat-card>
    </div>
  </div>
</div>

