<div class="notification" [style.right]="MessageRightPosition">
  Saved successfully
</div>

<div class="main-title">{{viewOptions.title|translate:use}}</div>
<div class="container-form">
  <mat-accordion >

    <!-- Edit/View Panel -->
    <mat-expansion-panel 
      [expanded]="viewOptions.propertiesPanelOpenState"
      (opened)="viewOptions.propertiesPanelOpenState = true"
      (closed)="viewOptions.propertiesPanelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title translate>Properties</mat-panel-title>
      </mat-expansion-panel-header>
      <form 
        [formGroup]="formGroupWorkpackTemplate" 
        (ngSubmit)="onSubmit()"
        class="form-container">
        <mat-form-field>
          <input matInput
            type="text"      
            formControlName="name"
            placeholder={{translate.name|translate}}/>
        </mat-form-field>
        <mat-error *ngIf="formGroupWorkpackTemplate.controls['name'].invalid && formGroupWorkpackTemplate.controls['name'].touched">
          <span translate>Name is</span> 
          <strong translate> required</strong>
        </mat-error>
        <div class="container-fluid cards" formArrayName="properties">
          <div class="row property-row">
            <div [class]="(property.get('editing').value) ? 'property-card-box property-full-width' : 'property-card-box'"    
              *ngFor="let property of formGroupWorkpackTemplate.controls.properties.controls; let i=index;">
              <mat-expansion-panel 
                [formGroup]="property"
                class="property-card row"
                [expanded]="property.get('editing').value"
                (opened)="EditProperty(i, property.get('type').value)"
                (closed)="StopEditing(i)"
                *ngIf="!property.toDelete">
                <mat-expansion-panel-header class="property-header">
                  <mat-panel-title class="property-name">
                    <div class="property-logo-mat-icon" 
                        *ngIf="GetPropertyLogo(property.get('type').value).source == 'mat-icon'">
                        <mat-icon 
                          fontSet="{{GetPropertyLogo(property.get('type').value).set}}" 
                          fontIcon="{{GetPropertyLogo(property.get('type').value).icon}}"></mat-icon>
                    </div>
                    <div class="property-logo-font" 
                        *ngIf="GetPropertyLogo(property.get('type').value).source == 'font'">
                      {{GetPropertyLogo(property.get('type').value).icon}}
                    </div>
                    <div class="property-title">
                      {{property.get('name').value}}
                    </div>
                    <mat-slide-toggle
                      (click)="$event.stopPropagation()"
                      [color]="color"
                      class="toggle-property"
                      formControlName="using"></mat-slide-toggle>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="card-content">
                  <div class="{{(property.get('editing').value) ? 'textInput' : 'minimum-width'}}">
                    <mat-form-field 
                      class="form-field">
                      <input matInput
                        type="text"
                        placeholder={{translate.name|translate}}
                        formControlName="name"/>
                    </mat-form-field>
                  </div>
                  <div 
                    class="{{(property.get('editing').value) ? 'textInput' : 'minimum-width'}}">
                    <mat-form-field 
                      class="form-field">
                      <input matInput
                        type="number"
                        placeholder={{translate.sortIndex|translate}}
                        formControlName="sortIndex"/>
                    </mat-form-field>
                  </div>
                  <div class="{{(property.get('editing').value) ? 'textInput' : 'minimum-width'}}"
                    *ngIf="property.get('type').value == 'Number' || property.get('type').value == 'Text'">
                    <mat-form-field 
                      class="form-field">
                      <input matInput
                        type="number"
                        placeholder={{translate.minimum|translate}}
                        formControlName="min"/>
                    </mat-form-field>
                  </div>
                  <div 
                    class="{{(property.get('editing').value) ? 'textInput' : 'minimum-width'}}"
                    *ngIf="property.get('type').value == 'Number' || property.get('type').value == 'Text'">
                    <mat-form-field 
                      class="form-field">
                      <input matInput
                        type="number" 
                        placeholder={{translate.maximum|translate}}
                        formControlName="max"/>
                    </mat-form-field>
                  </div>
                  <div 
                    class="{{(property.get('editing').value) ? 'textInput' : 'minimum-width'}}"
                    *ngIf="property.get('type').value == 'Selection'">
                    <mat-form-field 
                      class="form-field">
                      <input matInput 
                        type="text"
                        placeholder="Possible values"
                        formControlName="possibleValues"/>
                      <mat-hint>Use comma to separate the values. Empty means any.</mat-hint>
                    </mat-form-field>
                  </div>
                  <div 
                    class="{{(property.get('editing').value) ? 'textInput' : 'minimum-width'}}">
                    <mat-form-field 
                      class="form-field">
                      <input matInput
                        type="text"
                        placeholder={{translate.defaultvalue|translate}}
                        formControlName="value"/>
                    </mat-form-field>
                  </div>
                  <div class="delete-button"> <div>
                    <button mat-button 
                      (click)="DeleteProperty(i)">
                      <mat-icon fontSet="fas" fontIcon="fa-trash-alt"></mat-icon>
                    </button>
                  </div></div>
                </div>
              </mat-expansion-panel>
            </div>
          </div>
        </div>
        
        <button mat-raised-button 
                class="add-property-button dropleft card-setting" 
                id="dropdownAddPropertyButton" 
                data-toggle="dropdown">
          <span translate>Add Property</span>
          <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
          <div class="dropdown-menu" aria-labelledby="dropdownAddPropertyButton">
            <a *ngFor="let pType of propertyTypes"
                class="dropdown-item"
                (click)="AddProperty(pType)"
                [innerHTML]="pType"
                translate></a>
          </div>
        </button>
        
        <!-- SAVE BUTTON -->
        <div class="footer-button"
            [style.bottom]="SaveButtonBottomPosition">
          <div class="example-button-row">
            <button class="save-button" mat-button>
                <span translate>Save</span>
            </button>
          </div>
        </div>        


      </form>
    </mat-expansion-panel>

    <!-- Workpack Templates Panel -->
    <mat-expansion-panel
      *ngIf="viewOptions.action == 'edit'"
      [expanded]="viewOptions.workpacksPanelOpenState"
      (opened)="viewOptions.workpacksPanelOpenState = true"
      (closed)="viewOptions.workpacksPanelOpenState = false">
      
      <!-- Header -->
      <mat-expansion-panel-header>
        <mat-panel-title translate>Workpack Templates</mat-panel-title>
      </mat-expansion-panel-header>

        <!-- Body -->
        <div class="container-fluid cards">
          <div class="row">

            <mat-card class="card card-style" *ngFor="let component of workpackTemplate.components">
                <div class="card-image">
                  <mat-icon fontSet="fas" fontIcon="fa-cube"></mat-icon>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" 
                    (click)="DeleteWorkpackTemplate(component.id)"
                    routerLink="/workpacktemplate/edit/{{workpackTemplate.id}}" translate>Delete</a>
                  </div>
                </div>
                <div class="card-setting" id="dropdownMenuButton" data-toggle="dropdown">
                  <mat-icon fontSet="fa" fontIcon="fa-bars"></mat-icon>
                </div>
                <mat-card-title class="title-card">
                  <a routerLink="/workpacktemplate/edit/{{component.id}}" routerLinkActive="active">{{component.name}}</a>
                </mat-card-title>
                <div class="card-manager">
                  <mat-icon fontSet="fa" fontIcon="fa-user-circle"></mat-icon>
                </div>
              </mat-card>

            <mat-card class="card new-card card-style">
              <div class="card-image-new dropleft" id="dropdownMenuButton" data-toggle="dropdown">
                <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a  class="dropdown-item" 
                  routerLink="/workpacktemplate/new2workpacktemplate/{{workpackTemplate.id}}" 
                  routerLinkActive="active" translate>New</a>
                  <div class="dropdown-item not-a-link disabled" translate>Reuse:</div>
                  <a *ngFor="let template of flatTree"
                  class="dropdown-item"
                  (click)="ReuseTemplate(template.id)"
                  [innerHTML]="template.label"></a>
                </div>
              </div>
            </mat-card>
          </div>
        </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>