<div class="main-title">{{viewOptions.title|translate:use}}</div>
<div class="container-form">
  <mat-accordion >

    <!-- Edit/View Panel -->
    <mat-expansion-panel 
      [expanded]="viewOptions.propertiesPanelOpenState"
      (opened)="viewOptions.propertiesPanelOpenState = true"
      (closed)="viewOptions.propertiesPanelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title translate>Properties</mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="formGroupWorkpackTemplate" (ngSubmit)="onSubmit()"
        class="form-container">
        <mat-form-field>
          <input matInput
            type="text"      
            formControlName="name"
            placeholder={{translate.name|translate}}/>
        </mat-form-field>
        <mat-error *ngIf="formGroupWorkpackTemplate.controls['name'].invalid && formGroupWorkpackTemplate.controls['name'].touched">
          <span translate>Name is</span> 
          <strong translate>required</strong>
        </mat-error>
        <mat-form-field>
          <input matInput 
            type="text" 
            formControlName="shortName"
            placeholder={{translate.shortname|translate}}/>
        </mat-form-field>
        <mat-error *ngIf="formGroupWorkpackTemplate.controls['shortName'].invalid && formGroupWorkpackTemplate.controls['shortName'].touched">
          <span translate>Name is</span> 
          <strong translate>required</strong>
        </mat-error>
        
        <div class="container-fluid cards" formArrayName="properties">
          <div class="row property-row">
            <div [class]="(property.editing) ? 'property-card-box property-full-width' : 'property-card-box'"    
              *ngFor="let property of formGroupWorkpackTemplate['controls'].properties['controls']; let i=index;">
              <mat-expansion-panel 
                [formGroupName]="i"
                class="property-card row"
                [expanded]="property.get('editing').value"
                (opened)="EditProperty(i)"
                (closed)="StopEditing(i)"
                *ngIf="!property.get('toDelete').value">
                <mat-expansion-panel-header class="property-header">
                  <mat-panel-title class="property-name">
                    <div class="property-logo-mat-icon" 
                        *ngIf="GetPropertyLogo(property.get('typeName').value).source == 'mat-icon'">
                        <mat-icon 
                          fontSet="{{GetPropertyLogo(property.get('typeName').value).set}}" 
                          fontIcon="{{GetPropertyLogo(property.get('typeName').value).icon}}"></mat-icon>
                    </div>
                    <div class="property-logo-font" 
                        *ngIf="GetPropertyLogo(property.get('typeName').value).source == 'font'">
                      {{GetPropertyLogo(property.get('typeName').value).icon}}
                    </div>
                    <div class="property-title">
                      {{property.get('name').value}}
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="card-content">
                  <div class="{{(property.get('editing').value) ? 'textInput' : 'minimum-width'}}">
                    <mat-form-field 
                      class="form-field">
                      <input matInput
                        type="text"
                        placeholder={{translate.name|translate}}
                        formControlName="name"/>
                    </mat-form-field>
                  </div>
                  <div class="{{(property.get('editing').value) ? 'textInput' : 'minimum-width'}}">
                    <mat-form-field 
                      class="form-field">
                      <input matInput
                        type="text"
                        placeholder={{translate.minimum|translate}}
                        formControlName="min"
                        value=""/>
                    </mat-form-field>
                  </div>
                  <div class="{{(property.get('editing').value) ? 'textInput' : 'minimum-width'}}">
                    <mat-form-field 
                      class="form-field">
                      <input matInput
                        type="text" 
                        placeholder={{translate.maximum|translate}}
                        formControlName="max"/>
                    </mat-form-field>
                  </div>
                  <div class="{{(property.get('editing').value) ? 'textInput' : 'minimum-width'}}">
                    <mat-form-field 
                      class="form-field">
                      <input matInput
                        type="text"
                        placeholder={{translate.defaultvalue|translate}}
                        formControlName="value"/>
                    </mat-form-field>
                  </div>
                  <div class="delete-button"> <div>
                    <button mat-button 
                      (click)="DeleteProperty(i)">
                      <mat-icon fontSet="fas" fontIcon="fa-trash-alt"></mat-icon>
                    </button>
                  </div></div>
                </div>
              </mat-expansion-panel>
            </div>
          </div>
        </div>
        <button mat-raised-button class="add-property-button dropleft card-setting" id="dropdownAddPropertyButton" data-toggle="dropdown">
          <span translate>Add Property</span>
          <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
          <div class="dropdown-menu" aria-labelledby="dropdownAddPropertyButton">
            <a *ngFor="let pType of propertyTypes"
                class="dropdown-item"
                (click)="AddProperty(pType.typeName)"
                [innerHTML]="pType.typeName"
                translate></a>
          </div>
        </button>

        <div class="save-button">
          <button type="submit" [disabled]="!formGroupWorkpackTemplate.controls['name'].valid" mat-raised-button>
            <span translate>Save</span>
          </button>
        </div>
        

      </form>
    </mat-expansion-panel>

    <!-- Workpack Templates Panel -->
    <mat-expansion-panel
      *ngIf="viewOptions.action == 'edit'"
      [expanded]="viewOptions.workpacksPanelOpenState"
      (opened)="viewOptions.workpacksPanelOpenState = true"
      (closed)="viewOptions.workpacksPanelOpenState = false">
      
      <!-- Header -->
      <mat-expansion-panel-header>
        <mat-panel-title translate>Workpack Templates</mat-panel-title>
      </mat-expansion-panel-header>

        <!-- Body -->
        <div class="container-fluid cards">
          <div class="row">
            <div class="card card-style" *ngFor="let component of workpackTemplate.components"> 
              <div class="card-body">
                <div class="template-card-image">
                  <mat-icon fontSet="fas" fontIcon="fa-cube"></mat-icon>
                </div>
                <div class="template-card-title">
                  <a routerLink="/workpacktemplate/edit/{{component.id}}" routerLinkActive="active">{{component.name}}</a>
                </div>
                <div class="dropleft card-setting" id="dropdownMenuButton" data-toggle="dropdown">
                  <mat-icon fontSet="fa" fontIcon="fa-bars"></mat-icon>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" 
                    (click)="DeleteWorkpackTemplate(component.id)"
                    routerLink="/workpacktemplate/edit/{{workpackTemplate.id}}" translate>Delete</a>
                  </div>
                </div>
                <div class="card-manager">
                <mat-icon fontSet="fa" fontIcon="fa-user-circle"></mat-icon>
                </div>
              </div>
            </div>

            <mat-card class="card new-card card-style">
              <div class="card-image-new dropleft" id="dropdownMenuButton" data-toggle="dropdown">
                <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a  class="dropdown-item" 
                  routerLink="/workpacktemplate/new2workpacktemplate/{{workpackTemplate.id}}" 
                  routerLinkActive="active" translate>New</a>
                  <div class="dropdown-item not-a-link disabled" translate>Reuse:</div>
                  <a *ngFor="let template of flatTree"
                  class="dropdown-item"
                  (click)="ReuseTemplate(template.id)"
                  [innerHTML]="template.label"></a>
                </div>
              </div>
            </mat-card>
          </div>
        </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>