<h1 mat-dialog-title>{{data.title}}</h1>
<mat-dialog-content>
  <p>{{data.message}}</p>
</mat-dialog-content>
<mat-dialog-actions align="center" *ngIf="data.action == 'OK_CANCEL'">
  <button mat-button (click)="Clicked('OK')">OK</button>
  <button mat-button cdkFocusInitial (click)="Clicked('CANCEL')">Cancel</button>
</mat-dialog-actions>
<mat-dialog-actions align="center" *ngIf="data.action == 'YES_NO'">
  <button mat-button (click)="Clicked('YES')">Yes</button>
  <button mat-button cdkFocusInitial (click)="Clicked('NO')">No</button>
</mat-dialog-actions>
<mat-dialog-actions align="center" *ngIf="data.action == 'OK'">
  <button mat-button (click)="Clicked('OK')">OK</button>
</mat-dialog-actions>