<!-- app.component.html -->
<div class="container-fluid topo">
    <div class="logo">
        <i class="fa fa-tasks" aria-hidden="true"></i> OpenPMO
    </div>
    <div class="user">
        <i class="fa fa-user-circle" aria-hidden="true"></i>
    </div>
</div>

<div class="container-fluid panel">
    <div class="config">
        <i class="fa fa-cog" aria-hidden="true"></i>
    </div>
    <div class="filter">
        <i class="fa fa-filter" aria-hidden="true"></i>
    </div>
    <div class="search">
       
    </div>
</div>

<div class="menu-breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
    </nav>
</div>

<router-outlet></router-outlet>