<!-- app.component.html -->
<div class="topo">
    <div class="logo">
        <i class="fa fa-tasks" aria-hidden="true"></i> OpenPMO
    </div>
    <div class="user">
        <i class="fa fa-user-circle" aria-hidden="true"></i>
    </div>
</div>

<div class="panel">
    <div class="config">
        <i class="fa fa-cog" aria-hidden="true"></i>
    </div>
    <div class="filter">
        <i class="fa fa-filter" aria-hidden="true"></i>
    </div>
    <div class="search">
       
    </div>
</div>

<div class="menu-breadcrumb">
  <p-breadcrumb [model]="items"></p-breadcrumb>
</div>


<router-outlet></router-outlet>