/* app.component.css */
.topo{
    background-color: #00A1DD;
    height: 50px;
    padding-right: 50px;
    padding-left: 50px;
}

.logo{
    height: 50px;
    float: left;
    line-height: 50px;
    font-weight: bold;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.user{
    float: right;
    font-size: 28px;
    color: white;
    line-height: 50px;
}

.user i:hover{
    color: rgba(255, 255, 255, 0.774);
    cursor: pointer;
}

.panel{
    height: 27px;
    margin-top: 20px;
    padding-right: 50px;
    padding-left: 50px;
}

.config{
    font-size: 20px;
    float: right;
    color: #A6A9AB;
}

.config:hover{
    color: #00A1DD;
    cursor: pointer;
}

.filter{
    font-size: 20px;
    float: right;
    color: #A6A9AB;
    margin-right: 30px;
}

.filter:hover{
    color: #00A1DD;
    cursor: pointer;
}

.menu-breadcrumb{
    margin-top: 15px;
    padding-right: 50px;
    padding-left: 50px;
}