<div class="main-title">{{title}} {{(action == 'new')? 'Schema Template' : schemaTemplate.name}}</div>
<div class="container-form"> 
  <mat-accordion >
    <mat-expansion-panel 
      [expanded]="propertiesPanelOpenState"
      (opened)="propertiesPanelOpenState = true"
      (closed)="propertiesPanelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Properties
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form 
        name="schemaForm" 
        (ngSubmit)="f.form.valid && onSubmit()" 
        #f="ngForm"
        class="form-container" 
        novalidate>
        <mat-form-field>
          <input matInput
            type="text"      
            [formControl]="nameFormControl"
            placeholder="Name"
            required
            [(ngModel)]="schemaTemplate.name"/>
        </mat-form-field>
        <mat-error *ngIf="nameFormControl.invalid && nameFormControl.touched">
          Name is <strong>required</strong>
        </mat-error>
        <mat-form-field>
          <input matInput 
            type="text" 
            [formControl]="shortNameFormControl"
            placeholder="Short Name"
            required
            [(ngModel)]="schemaTemplate.shortName"/>
        </mat-form-field>
        <mat-error *ngIf="shortNameFormControl.invalid && shortNameFormControl.touched">
          Name is <strong>required</strong>
        </mat-error>

        <button mat-raised-button>Save</button>

      </form>
    </mat-expansion-panel>

    <!-- Workpack Templates Panel -->
    <mat-expansion-panel
      *ngIf="action != 'new'"
      [expanded]="workpackTemplatesPanelOpenState"
      (opened)="workpackTemplatesPanelOpenState = true"
      (closed)="workpackTemplatesPanelOpenState = false">
      
      <!-- Header -->
      <mat-expansion-panel-header>
        <mat-panel-title>
          Workpack Templates
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- Body -->
      <div class="container-fluid cards">
        <div class="row">
          <mat-card class="card card-style" *ngFor="let workpackTemplate of schemaTemplate.workpackTemplates">
            <div class="card-image">
              <mat-icon fontSet="fas" fontIcon="fa-cube"></mat-icon>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a  class="dropdown-item"
                (click)="DeleteWorkpackTemplate(workpackTemplate.id)"
                routerLink="/schematemplate/edit/{{schemaTemplate.id}}" 
                routerLinkActive="active">Delete</a>
              </div>
            </div>
            <div class="card-setting" id="dropdownMenuButton" data-toggle="dropdown">
              <mat-icon fontSet="fa" fontIcon="fa-bars"></mat-icon>
            </div>
            <mat-card-title class="title-card">
              <a routerLink="/workpacktemplate/edit/{{workpackTemplate.id}}" routerLinkActive="active">{{workpackTemplate.name}}</a>
            </mat-card-title>
            <div class="card-manager">
              <mat-icon fontSet="fa" fontIcon="fa-user-circle"></mat-icon>
            </div>
          </mat-card>

          <mat-card class="card new-card card-style">
            <div class="card-image-new" 
              routerLink="/workpacktemplate/new2schematemplate/{{schemaTemplate.id}}" 
              routerLinkActive="active">
              <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
            </div>
          </mat-card>
          
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>  
</div>