<div class="menu-breadcrumb">
  <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li *ngFor="let crumb of breadcrumbTrail; let i = index" 
              class="breadcrumb-item"
              [ngClass]="{active: crumb.active}">
              <a routerLink="/{{crumb.route}}/{{crumb.action}}/{{crumb.id}}" 
                  routerLinkActive="active" 
                  aria-current="page"
                  (click)="GoTo(i)">{{crumb.label}}</a>
          </li>
      </ol>
  </nav>
</div>
