<!-- Office-list.html -->
<div class="main-title">{{office.name}} <span i18n="@@translation_Administration"> Administration</span></div>

<div class="page-container">
  <mat-accordion >
    <!-- Planning Schemas Panel -->
    <mat-expansion-panel
      [expanded]="schemaTemplatesPanelOpenState"
      (opened)="schemaTemplatesPanelOpenState = true"
      (closed)="schemaTemplatesPanelOpenState = false">

      <!-- Header -->
      <mat-expansion-panel-header>
        <mat-panel-title i18n="@@translation_Schema-Templates">
        Schema Templates
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- Body -->
      <div class="container-fluid cards">
        <div class="row">

          <mat-card class="card card-style" *ngFor="let schemaTemplate of office.schemaTemplates"> 
            <div class="dropleft card-setting" data-toggle="dropdown">
              <mat-icon fontSet="fa" fontIcon="fa-bars" id="dropdownMenuButton"></mat-icon>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" (click)="DeleteSchemaTemplate(schemaTemplate.id)" i18n="@@translation_Delete">Delete</a>
              </div>
            </div>
            <mat-card-title class="title-card">
              <a  routerLink="/schematemplate/edit/{{schemaTemplate.id}}" 
              routerLinkActive="active">{{schemaTemplate.name}}</a>
            </mat-card-title>
            <mat-card-content class="img-card">
              <mat-icon fontSet="fas" fontIcon="fa-project-diagram"></mat-icon>
            </mat-card-content>
          </mat-card>

          <mat-card class="card card-style new-card">
            <div class="card-image-new" 
              routerLink="/schematemplate/new/{{office.id}}" 
              routerLinkActive="active">
            <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
            </div>
          </mat-card>

        </div>
      </div>      
    </mat-expansion-panel>
  </mat-accordion>
</div>

