<!-- Office-list.html -->
<div *ngIf="((action == 'children') || (action == 'detail'))">
  <div class="main-title">{{office.name}}</div>
  <div class="page-container">
    <div class="container-fluid cards">
      <div class="row">
        <div class="card card-style" *ngFor="let schemaTemplate of office.schemaTemplates"> 
          <div class="card-body">
            <div class="template-card-image">
              <i class="fa fa-sitemap" aria-hidden="true"></i>
            </div>
            <div class="template-card-title">
              <a  routerLink="/schematemplate/children/{{schemaTemplate.id}}" 
                  routerLinkActive="active">{{schemaTemplate.name}}</a>
            </div>
  
            <div class="dropleft">
              <i class="fa fa-bars card-setting" id="dropdownMenuButton" data-toggle="dropdown" ></i>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" routerLink="/schematemplate/edit/{{schemaTemplate.id}}" routerLinkActive="active">Edit</a>
                <a class="dropdown-item" (click)="DeleteSchemaTemplate(schemaTemplate.id)">Delete</a>
              </div>
            </div>
  
            <div class="card-manager">
              <!-- <i class="fa fa-user-circle" aria-hidden="true" [pTooltip]="schema.managerName" tooltipPosition="top"></i> -->
              <i class="fa fa-user-circle" aria-hidden="true" pTooltip="managerName" tooltipPosition="top"></i>
            </div>
          </div>
        </div>
  
        <div class="card new-card">
          <div class="card-body">
            <div class="card-image-new" 
                  routerLink="/schematemplate/new/{{office.id}}" 
                  routerLinkActive="active">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="temp">
</div>
