.name  {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
}

.shortName{
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 30px;
}

.button{
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 30px;
}