<div class="container-form">
    <div class="office-edit" *ngIf="((action == 'new') || (action == 'edit') || (action == 'detail'))">
        <form name="officeForm" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>  
            <div class="form-group">
                <label for="officename">Name</label>
                <input type="text" class="form-control" 
                    name="officename" autocomplete="off"
                    #officeName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && officeName.invalid }"
                    required
                    type="text" size="30" 
                    [ngModel]="office.name | trim"
                    (ngModelChange)="SetTrimmedNameAndShortName($event)" /> 
                <div *ngIf="f.submitted && officeName.invalid" class="invalid-feedback">
                    <div *ngIf="officeName.errors.required">Name is required</div>
                </div>
            </div>
            <div class=shortName>
              <div class="form-group">
                <label for="officeshortname">Short Name</label>
                <input  id="officeshortname" class="form-control" 
                        name="officeshortname" autocomplete="off"
                        #officeshortname="ngModel" 
                        [ngClass]="{ 'is-invalid': f.submitted && officeshortname.invalid }"
                        required 
                        pattern="[a-z0-9_]*"
                        type="text" 
                        size="30" 
                        [(ngModel)]="office.shortName"/> 
                <div *ngIf="f.submitted && officeshortname.invalid" class="invalid-feedback">
                    <div *ngIf="officeshortname.errors.required">Name is required</div>
                    <div *ngIf="officeshortname.errors.pattern">The short name can have only lowercase letters, digits and underscore (_)</div>
                </div>
              </div>
            </div>
            <div class=button>
              <div class="form-group">
                <button class="btn btn-primary">Save</button>
              </div>
            </div>
        </form>
    </div>
</div>  
<!-- Office-list.html -->
<div *ngIf="((action == 'children') || (action == 'detail'))">
    <div class="main-title">
      <a routerLink="/" routerLinkActive="active">{{office.name}}</a>
    </div>
    <div class="page-container">
      <div class="container-fluid cards">
        <div class="row">
          <div class="card card-style" *ngFor="let schema of office.schemas"> 
            <div class="card-body">
              <div class="card-image">
                <i class="fa fa-building" aria-hidden="true"></i>
              </div>
              <div class="card-title">
                <a  routerLink="/schema/children/{{schema.id}}" 
                    routerLinkActive="active">{{schema.name}}</a>
              </div>
    
              <div class="dropleft">
                <i class="fa fa-bars card-setting" id="dropdownMenuButton" data-toggle="dropdown" ></i>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" routerLink="/schema/edit/{{schema.id}}" routerLinkActive="active">Edit</a>
                  <a class="dropdown-item" (click)="DeleteSchema(schema.id)">Delete</a>
                </div>
              </div>
    
              <div class="card-manager">
                <!-- <i class="fa fa-user-circle" aria-hidden="true" [pTooltip]="schema.managerName" tooltipPosition="top"></i> -->
                <i class="fa fa-user-circle" aria-hidden="true" pTooltip="managerName" tooltipPosition="top"></i>
              </div>
            </div>
          </div>
    
          <div class="card new-card">
            <div class="card-body">
              <div class="dropleft">
                  <i class="fa fa-bars card-setting" id="dropdownMenuButton" data-toggle="dropdown" ></i>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a *ngFor="let template of office.schemaTemplates" 
                        class="dropdown-item" 
                        routerLink="/schema/new/{{office.id}}&{{template.id}}" 
                        routerLinkActive="active">{{template.name}}</a>
                  </div>
                </div>
              <div class="card-image-new">
                  <i class="fa fa-plus" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="temp">
</div>
