<!-- workpack-list.html -->
<div class="main-title">{{parentName}}</div>

<div class="container-fluid cards">
  <div class="row">
    <div class="card card-style" *ngFor="let wp of workpacks">
      <div class="card-body">
        <div class="card-image">
          <i class="fa fa-cube" aria-hidden="true"></i>
        </div>
        <div class="card-title">
          <a routerLink="/workpacks/{{wp.id}}" routerLinkActive="active">{{wp.name}}</a>
          <!--a (click)="GetWorkpackList(wp.id)">{{wp.name}}</a-->
        </div>
        <div class="card-setting">
          <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
        </div>
        <div class="card-manager">
          <!--i class="fa fa-user-circle" aria-hidden="true" [pTooltip]="env.managerName" tooltipPosition="top"></i-->
          <i class="fa fa-user-circle" aria-hidden="true" pTooltip="managerName" tooltipPosition="top"></i>
        </div>
        <div class="edit-view">
          <a  routerLinkActive="active">More...</a>
        </div>
      </div>
    </div>
  </div>
</div>