/* app.component.css */
.topo{
    background-color: #00A1DD;
    height: 50px;
    padding-left: 40px;
}

.logo{
    height: 50px;
    float: left;
    line-height: 50px;
    font-weight: bold;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.user{
    float: right;
    font-size: 28px;
    color: white;
    height: 50px;
    width: 70px;
    line-height: 50px;
}

.user i:hover{
    color: rgba(255, 255, 255, 0.774);
    cursor: pointer;
}

.panel{
    height: 27px;
    margin-top: 20px;
    padding-right: 50px;
    padding-left: 50px;
}

.config{
    font-size: 20px;
    float: right;
    color: #A6A9AB;
}

.config:hover{
    color: #00A1DD;
    cursor: pointer;
}

.filter{
    font-size: 20px;
    float: right;
    color: #A6A9AB;
    margin-right: 30px;
}

.filter:hover{
    color: #00A1DD;
    cursor: pointer;
}

.menu-breadcrumb{
    margin-top: 15px;
    padding-right: 50px;
    padding-left: 50px;
}




/* environment-list.css */
.main-title{
    margin-top: 25px;
    margin-bottom: 30px;
    padding-left: 57px;
    padding-right: 50px;
    color: #606062;
    font-size: 10px;
}

.cards{
    padding-left: 50px;
    padding-right: 50px;
}

.card-image{
    background-color: #E6E7E8;
    height: 50px;
    width: 64px;
    border-radius: 3px;
    float: left;
    line-height: 50px;
    font-size: 34px;
    color: #BDBFC1;
    text-align: center;
}

.card-title{
    float: left;
    margin-left: 10px;
}

.card-title a{
    color: #0092D6;
    text-decoration: none;
    font-weight: bold;
}

.card-manager{
    font-size: 22px;
    float: right;
    margin-top: 95px;
    color: #CC99FF;
    cursor: pointer;
}

.card-manager:hover{
    color: rgb(173, 98, 248);
}

.card-setting{
    font-size: 13px;
    float: right;
    color: #96989A;
    cursor: pointer;
}

.card-details {
    font-size: 12px;
    float: right;
    margin-top: 90px;
    color: #0092D6;
    cursor: pointer;
    margin-right: 10px;
    text-decoration: none;
}


