<!-- schema-list.html -->
<div class="container-fluid cards">
    <div class="row">
      <div class="card card-style" *ngFor="let schema of schemas">
        <div class="card-body">
          <div class="card-image">
              <i class="fa fa-cubes" aria-hidden="true"></i>
          </div>
          <div class="card-title">
            <a routerLink="/rootworkpacks/{{schema.id}}" routerLinkActive="active">{{schema.name}}</a>
          </div>
          <div class="card-setting">
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
          </div>
          <div class="card-manager">
            <!--i class="fa fa-user-circle" aria-hidden="true" [pTooltip]="env.managerName" tooltipPosition="top"></i-->
            <i class="fa fa-user-circle" aria-hidden="true" pTooltip="managerName" tooltipPosition="top"></i>
          </div>
          <div class="edit-view">
            <a routerLink="/schema/edit/{{schema.id}}" routerLinkActive="active">More...</a>
          </div>
          <div class="edit-view">
            <a (click)="deleteSchema(schema.id)">Delete me...</a>
          </div>
        </div>
      </div>
    </div>
    <a routerLink="/schema/new/{{office.id}}" routerLinkActive="active">New...</a>
  </div>