/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(241, 241, 241);
}

/****************************************/

/* office-list.css */
.main-title{
    margin-top: 25px;
    margin-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    color: #606062;
    font-size: 24px;
}

.cards{
    padding-left: 65px;
    padding-right: 65px;
}

.card-style{
    width: 19rem;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 130px;
}

.new-card{
    background-color: rgb(231, 231, 231);
    cursor: pointer;
    width: 19rem;
    height: 130px;
}

.card-image-new{
    font-size: 60px;
    color: #BDBFC1;
    text-align: center;
}

.card-image{
    background-color: #E6E7E8;
    height: 50px;
    width: 64px;
    border-radius: 3px;
    float: left;
    line-height: 50px;
    font-size: 34px;
    color: #BDBFC1;
    text-align: center;
}

.card-title{
    float: left;
    margin-left: 10px;
    color: rgb(0, 161, 221);
    text-decoration: none;
    font-weight: bold;
}

.card-manager{
    margin-right: -15px;
    font-size: 22px;
    float: right;
    margin-top: 65px;
    color: #CC99FF;
    cursor: pointer;
}

.card-manager:hover{
    color: rgb(173, 98, 248);
}

.card-setting{
    font-size: 16px;
    float: right;
    color: #96989A;
    cursor: pointer;
}

.edit-view{
    font-size: 18px;
    margin-right: 10px;
    float: right;
    margin-top: 70px;
    color: #96989A;
    cursor: pointer;
}

.card-delet{
    font-size: 18px;
    margin-right: 10px;
    float: right;
    margin-top: 70px;
    color: #96989A;
    cursor: pointer;
}

/**OFFICE EDIT***************************************/
.name  {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
}

.shortName{
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 30px;
}

.button{
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 30px;
}

