/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
    margin: 0px;
    height: 100%;
    width: 100%; 
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(241, 241, 241)!important;
    min-height: 100%;
}

button, a, div {
    outline: none!important;
}

.mat-icon {
    height: auto!important; 
    width: auto!important;
    padding: 5px;
}

/****************************************/

/* office-list.css */
.page-container{
    padding-left: 50px;
    padding-right: 50px;
}

.main-title{
    margin-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    color: #606062;
    font-size: 16px;
    font-weight: bold;
}

.panel-container {
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.cards{
    padding-left: 65px;
    padding-right: 65px;
}

.card-style{
    width: 19rem;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 130px;
}

.new-card{
    background-color: rgb(231, 231, 231);
    cursor: pointer;
    width: 19rem;
    height: 130px;
}

.card-image-new{
    font-size: 60px;
    color: #BDBFC1;
    text-align: center;
    padding-top: 30px;
}

.card-image{
    background-color: #E6E7E8;
    height: 42px;
    width: 55px;
    border-radius: 3px;
    float: left;
    line-height: 42px;
    font-size: 35px;
    color: #00a1dd;
    text-align: center;
    margin-right: 6px;
}

.template-card-image{
    background-color: #E6E7E8;
    height: 50px;
    width: 64px;
    border-radius: 3px;
    float: left;
    line-height: 50px;
    font-size: 34px;
    color: #BDBFC1;
    text-align: center;
}

.card-title{
    float: left;
    margin-left: 10px;
    text-decoration: none;
    font-weight: bold;
}

.card-title a{
    color: #00a1dd;
}

.template-card-title{
    float: left;
    margin-left: 10px;
    text-decoration: none;
    font-weight: bold;
}

.template-card-title a{
    color: #777777;
}

.card-manager{
    margin-right: 0;
    font-size: 20px;
    float: right;
    margin-top: 40px;
    color: #00a1dd;
    cursor: pointer;
}

.card-manager:hover{
    color: #007daa;
}

.card-setting{
    font-size: 16px;
    float: right;
    color: #96989A;
    cursor: pointer;
}

.edit-view{
    font-size: 18px;
    margin-right: 10px;
    float: right;
    margin-top: 70px;
    color: #96989A;
    cursor: pointer;
}

.card-delet{
    font-size: 18px;
    margin-right: 10px;
    float: right;
    margin-top: 70px;
    color: #96989A;
    cursor: pointer;
}

/**OFFICE EDIT***************************************/
.container-form  {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 15px;
}

.fullName{
    margin-top: 30px;
}

.button{
    margin-top: 30px;
}

.temp{
    height: 200px;
}

/* .mat-card {
    padding: 10px!important;
    border-radius: 4px;
} */

.title-card {
    line-height: 18px;
    padding-top: 8px;
    padding-right: 45px;
    font-size: 16px;
    height: 50px;
    border-bottom: solid 1px #e6e6e6;
}

.title-card a {
    font-size: 16px;
    height: 50px;
    font-weight: bold;
    color: #00a1dd!important;
}

.img-card{
    color: #E6E7E8;
    font-size: 47px;
    text-align: center;
}

.card {
    width: 300px;
    height: 150px;
    padding: 10px!important;
    border-radius: 4px;
  }

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.save-button{
    background-color: #4caf50b8;
    color: white;
    font-weight: bold;
    height: 40px;
    width: 115px;
    font-size: 16px;
}

.footer-container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%
}

.footer-button{
    position: fixed;
    display: block;
    transition: bottom .5s;
    transition-timing-function: ease-in;
    bottom: -40px;
    left: 50px;
}

.notification{
    background-color: #4caf50b8;
    height: 40px;
    width: 175px;
    line-height: 40px;
    text-align: center;
    color: white;
    border-radius: 5px;
    position: fixed;
    transition: right .5s;
    transition-timing-function: ease-in;
    right: -180px;
    top: 60px;
}

.property-container {
    padding-right: 10px;
    padding-left: 10px;
}

.property-profile-row {
    margin-right: 0px;
    margin-left: 0px;
}

.property-row {
    margin-right: 0px;
    margin-left: 0px;
}

.property-profile-card-box {
    padding: 5px;
    float: left;
}

.property-card-box {
    padding: 5px;
    float: left;
}

.full-width {
    width: 100%;
}

.full-line-checkbox {
    margin-top: 20px;
}

.full-line-checkbox div {
    margin-right: 3px;
}
