<!-- office-list.html -->
<div class="main-title">
  HOME
</div>

<div class="page-container">
  <div class="container-fluid cards">
    <div class="row">
      <div class="card card-style" *ngFor="let office of offices"> 
        <div class="card-body">
          <div class="card-image">
            <mat-icon fontSet="fa" fontIcon="fa-building"></mat-icon>
          </div>
          <div class="card-title">
            <a routerLink="/office/children/{{office.id}}" routerLinkActive="active">{{office.name}}</a>
          </div>

          <div class="dropleft">
              <div class="card-setting" id="dropdownMenuButton" data-toggle="dropdown">
                <mat-icon fontSet="fa" fontIcon="fa-bars"></mat-icon>
              </div>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" routerLink="/office/edit/{{office.id}}" routerLinkActive="active">Edit</a>
                <a class="dropdown-item" (click)="deleteOffice(office.id)">Delete</a>
                <a class="dropdown-item" routerLink="/officeadmin/children/{{office.id}}" routerLinkActive="active" href="#">Admin</a>
              </div>
            </div>

          <div class="card-manager">
            <mat-icon fontSet="fa" fontIcon="fa-user-circle"></mat-icon>
          </div>
        </div>
      </div>

      <div class="card new-card" routerLink="/office/new/0" routerLinkActive="active">
        <div class="card-body">
          <div class="card-image-new">
              <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="temp">

</div>