<!-- office-list.html -->
<div class="main-title">
  HOME
</div>

<div class="page-container">
  <div class="container-fluid cards">
    <div class="row">
      <div class="card card-style" *ngFor="let office of offices"> 
        <div class="card-body">
          <div class="card-image">
            <i class="fa fa-building" aria-hidden="true"></i>
          </div>
          <div class="card-title">
            <a routerLink="/office/children/{{office.id}}" routerLinkActive="active">{{office.name}}</a>
          </div>

          <div class="dropleft">
              <i class="fa fa-bars card-setting" id="dropdownMenuButton" data-toggle="dropdown" ></i>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" routerLink="/office/edit/{{office.id}}" routerLinkActive="active">Edit</a>
                <a class="dropdown-item" (click)="deleteOffice(office.id)">Delete</a>
                <a class="dropdown-item" routerLink="/officeadmin/children/{{office.id}}" routerLinkActive="active" href="#">Admin</a>
              </div>
            </div>

          <div class="card-manager">
            <!-- <i class="fa fa-user-circle" aria-hidden="true" [pTooltip]="office.managerName" tooltipPosition="top"></i> -->
            <i class="fa fa-user-circle" aria-hidden="true" pTooltip="managerName" tooltipPosition="top"></i>
          </div>
        </div>
      </div>

      <div class="card new-card" routerLink="/office/new/0" routerLinkActive="active">
        <div class="card-body">
          <div class="card-image-new">
              <i class="fa fa-plus" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="temp">

</div>