<!-- office-list.html -->
<div class="container-fluid cards">
  <div class="row">
    <div class="card card-style" *ngFor="let office of offices">
      <div class="card-body">
        <div class="card-image">
          <i class="fa fa-building" aria-hidden="true"></i>
        </div>
        <div class="card-title">
          <a routerLink="/office/children/{{office.id}}" routerLinkActive="active">{{office.name}}</a>
        </div>
        <div class="card-setting">
          <a routerLink="/officeadmin/children/{{office.id}}" routerLinkActive="active">
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
          </a>
        </div>
        <div class="card-manager">
          <!--i class="fa fa-user-circle" aria-hidden="true" [pTooltip]="office.managerName" tooltipPosition="top"></i-->
          <i class="fa fa-user-circle" aria-hidden="true" pTooltip="managerName" tooltipPosition="top"></i>
        </div>
        <div class="edit-view">
          <a routerLink="/office/edit/{{office.id}}" routerLinkActive="active">More...</a>
        </div>
        <div class="edit-view">
          <a (click)="deleteOffice(office.id)">Delete me...</a>
        </div>
      </div>
    </div>
  </div>
  <a routerLink="/office/new/0" routerLinkActive="active">New...</a>
</div>