<!-- schema-list.html -->
<div class="main-title">
  <h1>SCHEMAS</h1>
</div>

<div class="cards">
  <div class="ui-g-12 ui-md-6 ui-lg-3" *ngFor="let schema of schemas">
    <div>

      <div class="card-image">
          <i class="fa fa-building" aria-hidden="true"></i>
      </div>

      <div class="card-title">
        <a routerLink="/workpacks/{{schema.id}}" routerLinkActive="active">{{schema.name}}</a>
      </div>
      
      <div class="card-setting">
        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
      </div>

      <div class="card-manager">
        <!--i class="fa fa-user-circle" aria-hidden="true" [pTooltip]="env.managerName" tooltipPosition="top"></i-->
        <i class="fa fa-user-circle" aria-hidden="true" pTooltip="managerName" tooltipPosition="top"></i>
      </div>

      <div class="edit-view">
          <a routerLink="/schema/edit/{{schema.id}}" routerLinkActive="active">More...</a>
      </div>
        
    </div>
  </div>
</div>

